* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  margin-top: 3%;
}
i {
  margin: 0 5%;
}
.body-outer {
  display: inline-block;
  background: #02ed9d;
  background: linear-gradient(180deg, #02ed9d, #009be2);
  padding: 2px;
  margin: 20px;
}

.body-inner {
  display: inline-block;
  padding: 10px 20px;
  min-width: 300px;
  background-color: white;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.text-tools {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.align-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  cursor: pointer;
  padding: 10px;
}
main {
  padding: 0 5%;
}